header=type|transactionid|storeid|productid|barcode|itemnumbertype|promotionid|state|promotionprice|rewardvalue|promotiontype|statedate|enddate|listgroup|listdescription|threshold|changetype|qualtype|sellinguom|sellinguep|offername|offermsg|theme1|theme2|theme3|promocreatedate|promocreateid|promoapprovaldate|promoapprovalid|wasprice|waswasprice|intermediateprice|nearlywasprice|rpmpromodtlid|rpmpromocompid|rpmpromocompdispid|source|selindicator
delimitter = \\|
csvfilepath=F:/Selenium Training and Notes/Selenium/EgleEyePromo.csv
isHeaderPresent=false